.cart_item_list {
    margin: auto;
    width: 52rem;
    list-style: none;
    margin-bottom: 20px;
}

.cart_item{
    display: flex;
    padding: 10px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0rem;
}

.cart_item h1{
    width: 45%;
}

.cart_form{
    display: flex;
    justify-content: center;
}